/*Цветовая схема - https://colorscheme.ru/#2Y11Tw0w0w0w0*/
/*#f7effb - самый светлый
#eddbf6
#e3c6f1
#d8b2ec*/
@font-face {
    font-family: "Tenoture";
    src: url("fonts/logo-font.ttf");
}

.body {
    background-color: white;
}

/* Шапка страницы*/
.page_top{
    /*background-color: #92d9e4;*/
    background-color: #5d2080;
    height: 13vh;
}

.logo{
    width: 11vh;
    height: 11vh;
    margin-left: 27vw;
    margin-top: 1vh;
}

.logo img{
    width: 100%;
    height: 100%;
}

.title{
    font-size: 5vh;
    color: #f5f5f5;
    font-family: "Tenoture", sans-serif;
    margin-left: 2vw;
    margin-top: 2vh;
}

.subpanel{
    background-color: #7a2aa9;
    height: 7vh;
}

/*Меню*/
#navbar {
    margin: 1vh;
    padding: 0;
    list-style-type: none;
    width: 100vw;
    text-align: center;
}
#navbar li {
    display: inline;
    margin-right: 3vh;
}
#navbar a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 10vw;
}
#navbar a:hover {
    border-radius: 1vh;
    background-color: #5d2080;
}

#navbar .current {
    border-radius: 1vh;
    background-color: #5d2080;
}

/*Основная часть страницы*/
.main{
    margin-top: 5vh;
}

.left_col{
    border-right: 1vh solid #5d2080;
}

h4{
    font-size: 9vh;
    padding-bottom: 5vh;
    text-align: center;
}
/* Ввод параметров*/

.push{
    background-color: #eddbf6;
    width: 35vw;
    position: absolute;
    /*top: 40vh;
    left: 10vw;*/
    border-radius: 0.5vh;
    border: 0.1vh solid #5d2080;
}

.push_head{
    background-color: #5d2080;
    padding: 1.5vh;
    border-radius: 0.5vh;
    border: 0.1vh solid #5d2080;
    border-right: 0vh;
    color: white;
}
.push_head h3{
    font-size: 4.2vh;
}
.cross_image{
    width: 3.5vh;
    position: absolute;
    top: 1vh;
    right: 1vh;
}

.push_body{
    padding: 2vh;
}

.submit_param {
    position: absolute;
    bottom: 1vh;
    right: 1vh;
}
/*Аккордеоны*/
.clickable{
    cursor: pointer;
}

.accordeon_block{
    width: 30vw;
    background-color: #f7effb;
    margin-bottom:2vh;
}

.accordeon_block h3{
    width: 100%;
    background-color: #e3c6f1;
    font-size: 4vh;
    border-radius: 0.5vh;
    padding: 1.5vh;
}

block{
    width: 100%;
    padding: 1.5vh;
    border-radius: 0.5vh;
    display: none;
}


/*Правая часть*/
.radio input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    /*margin: 10px 0 0 7px;*/
    margin: 1.5vh 0 0 0.49vw;
}
.radio__text {
    position: relative;
    /*padding: 0 0 0 35px;*/
    padding: 0 1.5vw 0 2.2vw;
    cursor: pointer;
}

.radio__text:before {
    content: '';
    position: absolute;
    /*top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #CDD1DA;*/
    top: -0.45vh;
    left: 0;
    width: 1.54vw;
    height: 3.3vh;
    border: 0.15vh solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}
.radio__text:after {
    content: '';
    position: absolute;
    /*top: 1px;
    left: 4px;
    width: 16px;
    height: 16px;*/
    top: 0.15vh;
    left: 0.24vw;
    width: 1.12vw;
    height: 2.4vh;
    border-radius: 50%;
    background: #5d2080;
    opacity: 0;
    transition: .2s;
}
.radio input:checked + .radio__text:after {
    opacity: 1;
}

/*404*/
.btn404 {
    width: 25vw;
    height: 20vh;
    background: #5d2080;
    border-radius: 1vh;
    display: inline-block;
    margin: 3vw;
    font-size: 7vh;
}
.btn404 a {
    display: block;
    text-align: center;
    height: 100%;
    padding: 6vh;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.btn404 a:hover {
    border-radius: 1vh;
    background-color: #7a2aa9;
    text-decoration: none;
    color: #ffffff;
}

#btn1 {
    width: 15vw;
    height: 7vh;
    font-size: 3vh;
}

#btn1 a{
    padding:1vh;
}
/*Вход и регистрация*/
.password_requires{
    font-size: 1.8vh;
}

#err_msg{
    position: absolute;
    width: 20vw;
}